
.about{
  margin-top: 130px;
  margin-left: 3%;
  font-weight: bolder;
  font-size: xx-large;
}

.about-img{
  margin: 5%;

}

.about-para{
  margin: 2%;
  font-size: large;
  font-weight: 500;
}




.table-body{
   display: flex;
  justify-content: center;
}

.table {

  width: 80%;
  max-width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.table-row {
  display: flex;
}

.table-cell {
  flex: 1;
  padding: 16px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table-row:nth-child(even) .table-cell {
  background-color: #f9f9f9;
}

.table-row:last-child .table-cell {
  border-bottom: none;
}

.table-row:last-child .table-cell {
  border-bottom: none;
}

/* Hover effect: changes background color of both cells */
.table-row:hover .table-cell {
  background-color: #e0f0ff; /* light blue */
}