.staff{
  margin-top: 130px;
  margin-left: 3%;
  font-weight: bolder;
  font-size: xx-large;
}

.tstaff{
  margin-left: 3%;
  margin-top: 3%;
  font-weight: 500;
  font-size: x-large;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table-staff {
  overflow-x: auto;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

img {
  width: 100%;
  max-height: 167px;
  object-fit: contain;
  /* border-radius: 50%;
  border: 2px solid #ccc; */
}

.non-teach{
  width: 100%;
  margin-left: 3%;
  margin-top: 8%;
  font-weight: 500;
  font-size: x-large;
}

.various-duties{
  width: 100%;
  margin-left: 3%;
  margin-top: 8%;
  font-weight: 500;
  font-size: x-large;
}


#sub{
  margin-top: 2%;
  margin-left: 4%;
  font-weight: 600;
}

#ordered-list{
  margin-left: 3%;
}

.sub-dis{
  margin-left: 3%;
}

@media (max-width: 600px) {
  th, td {
    padding: 8px 10px;
    font-size: 14px;
  }

  .staff, .tstaff, .non-teach, .various-duties {
    font-size: large;
  }

  table {
    min-width: 400px; /* force scroll instead of breaking layout */
  }
}


@media (max-width: 500px) {
  th, td {
    padding: 4px 5px;
    font-size: 12px;
  }

  .staff, .tstaff, .non-teach, .various-duties {
    font-size: medium;
  }

  table {
    min-width: 300px; /* force scroll instead of breaking layout */
  }
}
@media (max-width: 380px) {
  th, td {
    padding: 2px 2.5px;
    font-size: 6px;
  }

  .staff, .tstaff, .non-teach, .various-duties {
    font-size: small;
  }

  table {
    min-width: 150px; /* force scroll instead of breaking layout */
  }
}